body {
    font-family: 'Noto Sans', sans-serif;
}

.carousel-container .col-12 {
    padding: 0;
}

.callout-container {
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* ---- ALERTS ---- */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 0px 15px;
}

/* ---- ALPHA-CALLOUT ---- */

.callout-container--alpha {
    background: url("../images/union-jack.jpg") no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ---- NEWSLETTER-CALLOUT ---- */

.callout-container--newsletter {
    background-color: #A022BF;
}

/* ---- JUMBOTRON ---- */

.jumbotron {
    background-color: #000000a8;
}

.jumbotron-header {
    color: #fff;
    font-weight: bold;
}

.jumbotron--callout {
    border-radius: 0px;
}

.jumbotron p {
    color: #fff;
    font-weight: bold;
}

.jumbotron hr {
    border-top: 1px solid rgba(255, 255, 255, .6);
}

/* ---- BUTTONS ---- */


/* ---- IMAGES ---- */

.workspace-image {
    background-image: url("/assets/images/workspace.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.daniel-image {
    background-image: url("/assets/images/daniel.png");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.connor-image {
    background-image: url("/assets/images/connor.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}